<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Reset Your Password</title>
</head>
<body>
    
    {% block content %}
    {% if messages %}
    <div class="alert alert-success">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    <div class="h-screen flex items-center justify-center">
        <div class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-2xl text-gray-900 font-bold mb-4">Reset Your Password</h2>
            <form id="resetPasswordForm" method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="id_new_password1" class="block text-sm font-medium text-gray-700">New password</label>
                    {{ form.new_password1 }}
                    <div id="newPasswordError" class="text-red-500 text-xs mt-1"></div>
                </div>
                <div class="mb-4">
                    <label for="id_new_password2" class="block text-sm font-medium text-gray-700">Confirm password</label>
                    {{ form.new_password2 }}
                    <div id="confirmPasswordError" class="text-red-500 text-xs mt-1"></div>
                </div>
                <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Reset Password
                </button>
            </form>
            <div class="text-center mt-4"></div>
            <a href="http://localhost:5173/login" class="text-blue-500 hover:underline">Back to Login</a>
        </div>
    </div>
    {% endblock %}
    <script>
        const newPasswordInput = document.querySelector('#id_new_password1');
        const confirmPasswordInput = document.querySelector('#id_new_password2');
        const newPasswordError = document.querySelector('#newPasswordError');
        const confirmPasswordError = document.querySelector('#confirmPasswordError');
        const submitbtn = document.querySelector('button[type="submit"]');

        async function validatePasswordStrength(password) {
            try {
                const response = await fetch('/api/validate_password/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ password: password })
                });
                const data = await response.json();
                return data.valid;
            } catch (error) {
                console.error(error);
                return false;
            }
        }

        async function validatePasswords() {
            const newPassword = newPasswordInput.value;
            const confirmPassword = confirmPasswordInput.value;

            // Clear previous errors
            newPasswordError.textContent = '';
            confirmPasswordError.textContent = '';
            
            // Initially enable the submit button
            submitbtn.disabled = false;
            submitbtn.classList.remove('bg-blue-500', 'hover:bg-blue-700', 'cursor-pointer');
            submitbtn.classList.add('bg-gray-400', 'cursor-not-allowed'); // Change button to inactive styles

            // Validate password strength
            if (!await validatePasswordStrength(newPassword)) {
                newPasswordError.textContent = 'Password too common'
                submitbtn.disabled = true; // Disable button on error
            }

            // Validate new password length
            if (newPassword.length < 8) {
                newPasswordError.textContent = 'Password must be at least 8 characters long.';
                submitbtn.disabled = true; // Disable button on error
            }

            // Validate password match
            if (newPassword && confirmPassword && newPassword !== confirmPassword) {
                confirmPasswordError.textContent = 'Passwords do not match.';
                submitbtn.disabled = true; // Disable button on error
            }

            // If no errors, restore original button styles
            if (!submitbtn.disabled) {
                submitbtn.classList.add('bg-blue-500', 'hover:bg-blue-700', 'cursor-pointer');
                submitbtn.classList.remove('bg-gray-400', 'cursor-not-allowed');
            }
        }

        // Add event listeners for real-time validation
        newPasswordInput.addEventListener('input', validatePasswords);
        confirmPasswordInput.addEventListener('input', validatePasswords);
        
        // Prevent form submission if button is disabled
        document.querySelector('form').addEventListener('submit', function(event) {
            if (submitbtn.disabled) {
                event.preventDefault(); // Prevent form submission
            }
        });
    </script>

</body>
</html>
